<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="cnOnpe"
		 connectionString="Data Source=DESKTOP-RSSGNU3 ;Initial Catalog=Onpe;Integrated Security=True;"
		 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1" />
	</system.web>
</configuration>
